<div class="section section-full-screen">
	<div class="container">
		<div class="row">
			For any queries, concerns or feedback please contact us on below details.
			Office Details:
			116, 1st Cross, Nimishambha Layout,
			uvempunagar, Mysore, Karnataka: 570023.
			fficial email address: okaamysore@gmail.com 
			fficial Facebook Page: https://www.facebook.com/Okaakaratemysuru/?fref=ts 
			fficial Twitter Account: @OKAAMYS
			obile Number:
			ahesh R +91 7795584180
			inay A +91 9945779875
		</div>
	</div>
</div>

