<div class="section section-full-screen">
	<div class="container">
		<div class="row">
			Karate Camp on 5th and 6th December 2015, by Shihan Parthiban S
			Inter-School Karate Championship on 27th and 28th February 2016
			Upcoming-Events
			Watch out this space for more updates
		</div>
	</div>
</div>

