<div class="section section-full-screen">
	<div class="container">
		<div class="row">
			</br></br></br>
			<h2>Faq's</h2>
			
			<h2>Why should I learn Karate?</h2>
			<p>When people think of karate, they often picture a violent sport filled with conflict and aggression, while it is exactly the opposite of this. Some of the reasons why any individual should learn Karate would be, Self Defense, Fitness, Confidence, Coordination, Focus, Discipline and. Its proven fact that any Karateka (Karate student), would reflect the above characteristics in life, be it office, school or even while leading normal life. So next time when you meet any Karateka, please do ask what is it, that makes him/her different.</p>

			<h2>What’s different that OKAA (Okinawa Karate Arts Association) offers?</h2>
			<p>OKAA is filled with learned people who are experts and have background of various skillset. The members of the association are self-motivated in transitioning the knowledge and come up with numerous initiatives to improve each of the enrolled students. We have a unique way of training which is scientific as well as traditional. The coaches themselves practice and try inventing new methods and techniques to offer for the students, not to forget that they have brought glory to nation and state in many of the events that they have participated in.</p>

			<h2>What does the logo stand for; I mean why do we have a dragon in it?</h2>
			<p>OKAA logo has two dragons and a spear in it. The dragons are representation of every member or student of the association, holding a weapon defending their prestige. Why dragons!! Dragons are known for its quick, agile and flexible motion, focused on the target. Dragons often surprise the opponent with Fire, which can be easily related to any of our students who always tend to improvise.  We offer weapon training as well, so that you “The Dragon” are aware and equipped with the weapon fights as well.</p>


			<h2>Who are going to train me?</h2>
			<p>The training department is spear-headed by chief instructors Vinay A and Mahesh R who are our officially recognized Coach by AKSKA (Akhila Karnataka State Karate Association, Karnataka) affiliated to KAI (Karate Association of India). The trainers themselves have to go through certain tests so that they have to pass certain criteria and meet the standards.</p>

			<h2>How can I enroll myself or my kids?</h2>
			<p>You can contact the instructors and enquire about the dojo (place where classes are conducted), timings, events or any such details.</p>


			<h2>Do you offer Doorstep training (training you at your home)?</h2>
			<p>Yes, doorstep training is offered as well. For more information you could always contact us.</p>

			<h2>What is the age limit for the course that OKAA (Okinawa Karate Arts Association) offers?</h2>
			<p>Anyone who is above 4 years qualifies to start the training.</p>


			<h2>What all opportunities would I be getting if I enroll myself?</h2>
			<p>The students shall be able to learn the art of Karate in traditional and Sports Karate. The institute offers weapon training and conducts meditation camps as well. Students shall get opportunities to participate in International, National and State level tournaments as well. All students shall be given equal attention and opportunities. As students you would also be given opportunities to give it back to the society, be it Swatch Bharat, Blood Donation camps etc…</p>


			<h2>How will I come to about any of events scheduled by OKAA (Okinawa Karate Arts Association)?</h2>
			<p>Navigate to Events tab, where you would have the list of Events and information about Upcoming Events.</p>

		</div>
	</div>
</div>