	<div class="header header-filter" style="background-image: url('https://storage.googleapis.com/karate-images/k1.jpeg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Okinawa Karate Arts Association</h1>
						<h3>Revolution begins</h3>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="main">

	    <div class="section section-full-screen" id="carousel">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">

						<!-- Carousel Card -->
						<div class="card card-raised card-carousel">
							<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
								<div class="carousel slide" data-ride="carousel">

									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-example-generic" data-slide-to="1"></li>
										<li data-target="#carousel-example-generic" data-slide-to="2"></li>
									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<img src="https://storage.googleapis.com/karate-images/k1.jpeg" alt="Awesome Image" height="960px">
											<div class="carousel-caption">
												<!-- <h4><i class="material-icons">location_on</i> Somewhere Beyond, United States</h4> -->
											</div>
										</div>
										<div class="item">
											<img src="https://storage.googleapis.com/karate-images/k2.jpeg" alt="Awesome Image" height="960px">
											<div class="carousel-caption">
												<!-- <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4> -->
											</div>
										</div>
										<div class="item">
											<img src="https://storage.googleapis.com/karate-images/k3.jpeg" alt="Awesome Image" height="960px">
											<div class="carousel-caption">
												<!-- <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4> -->
											</div>
										</div>
										<div class="item">
											<img src="https://storage.googleapis.com/karate-images/k4.jpeg" alt="Awesome Image" height="960px">
											<div class="carousel-caption">
												<!-- <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4> -->
											</div>
										</div>
										<div class="item">
											<img src="https://storage.googleapis.com/karate-images/k5.jpeg" alt="Awesome Image" height="960px">
											<div class="carousel-caption">
												<!-- <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4> -->
											</div>
										</div>

									</div>

									<!-- Controls -->
									<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
										<i class="material-icons">keyboard_arrow_left</i>
									</a>
									<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
										<i class="material-icons">keyboard_arrow_right</i>
									</a>
								</div>
							</div>
						</div>
						<!-- End Carousel Card -->

					</div>
				</div>
			</div>
		</div>

		<div class="section section-full-screen">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-4">
						<div class="pull-right">
							<h1>About us</h1>
							<p>Welcome to the official website of Okinawa Karate Arts Association. OKAA (Okinawa Karate Arts Association) was solely formed to spread the art of self-defense among general public and transform earth to a healthier and safer place to live. We follow the Goju-Ryu style of Karate which is one of the prominent styles in Karate.</p>
						</div>
					</div>
				</div>
			</div>
		</div>